rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default deny
    match /{document=**} {
      allow read, write: if false;
    }

    function isSignedIn() {
      return request.auth != null;
    }

    function isValidId(id) {
      return id is string && id.size() <= 128 && id.matches('^[a-zA-Z0-9_\\-]+$');
    }

    function incoming() {
      return request.resource.data;
    }

    function existing() {
      return resource.data;
    }

    function isValidComment(data) {
      return data.keys().hasAll(['episodeId', 'userId', 'userDisplayName', 'text', 'createdAt', 'updatedAt']) 
        && data.keys().size() == 6
        && data.episodeId is string && data.episodeId.size() <= 256 // Note: episodeId might contain - and / depending on formatting
        && data.userId is string && data.userId == request.auth.uid
        && data.userDisplayName is string && data.userDisplayName.size() <= 100
        && data.text is string && data.text.size() > 0 && data.text.size() <= 2000
        && data.createdAt is timestamp
        && data.updatedAt is timestamp;
    }

    match /comments/{commentId} {
      allow read: if true;
      allow list: if true; // We don't have sensitive data so list is allowed to everyone
      
      allow create: if isSignedIn() 
        && isValidComment(incoming())
        && incoming().createdAt == request.time
        && incoming().updatedAt == request.time;
        
      allow update: if isSignedIn()
        && isValidComment(incoming())
        && existing().userId == request.auth.uid // Ownership check
        && incoming().diff(existing()).affectedKeys().hasOnly(['text', 'updatedAt'])
        && incoming().updatedAt == request.time;
        
      allow delete: if isSignedIn() && existing().userId == request.auth.uid;
    }
  }
}
